body {
	margin: 0 auto;
	background-color: #3e3e3e;
}

.login-container {	
	border: 2px solid gray;
	max-width: 15%;
	padding-bottom: 30px;
	border-radius: 20px;
	margin-top: 20px;
	min-width: 250px;
	background-color: #d3d3d385;
}

h1 {
	color: white;
}
